#titleBackground {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: white;
}

.titleNav {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

#titleName {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 120px;
}

#titleFlipper {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 80px;
  color: #125492;
}
#iconSet{
  padding-top: 100px;
}

#icon {
  font-size: 45px;
}

#aboutSection {
  position: relative;
  height: 100%;
  width: 100%;
}

#sectionHeader {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 28pt;
  color: #125492;
  padding-left: 30px;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

#portfolioSection {
  position: relative;
  height: 100%;
  width: 100%;
}

.card {
  height: 575px;
}

.card-img-top {
  width: 99%;
}

#contactSection {
  position: relative;
  height: 100%;
  width: 100%;
}
